*{
	box-sizing: inherit;
}
html{ 
	width: 100%;
	height: 100%;
	font-size: 62.5%; //burda rem'in 10 piksel olmasını ayarladık ki rahat değer verebilelim tarayıcı 16 piksel veriyor biz onun 62.5 faizini alarak 10 yaptık

	/* @include respondmax(md){
		font-size: 40%;
	} 

	@include respondmin(md){
		font-size: 40%;
	} 

	@include respondmin(lg){
		font-size: 56.25%; 
	} 

	@include respondmin(xl){
		font-size: 62.5% ; //1rem=12px
	}		 */

}

body{
	width: 100%;
	height: 100%;
	background-color: $color-secondary;
	color: $color-white;
	box-sizing: border-box;
	p{
		margin-bottom: unset;
	}
	ul{
		padding-left: unset;
		list-style: none;
		margin-bottom: unset;
	}
}

