.azn {
	font-family: $aznb;
}
.section__headering{
	color: $color-white;
	font-size: 1.6rem;
	display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    grid-template-columns: minmax(10px, 1fr) auto minmax(10px, 7fr);
	grid-gap:.6rem;
	&::before{
		content: '';
		border-top: 2px solid;
	}
	&::after{
		content: '';
		border-top: 2px solid;
	}
}

.box__title{
	color: $color-white;
	margin: 2rem 0;
	font-size: 1.6rem;
	display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    grid-template-columns: minmax(10px, 1fr) auto minmax(10px, 1fr);
	grid-gap:.6rem;
	&::before{
		content: '';
		border-top: 2px solid  $color-gray-border;;
	}
	&::after{
		content: '';
		border-top: 2px solid  $color-gray-border;;
	}
}

.note{
	font-size: 1.6rem;
	color: $color-white;
	text-align: center;

	span{
		color: $color-red;
	}
}


  

  
