.consol{
    display: flex;
    color: $color-blue;
    font-size: 1.6rem;
    border: 1px solid #00aeef;
    border-radius: .7rem;
    width: 10rem;
    padding: .5rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    img{
        width: 2rem!important;
        height: 2rem;
    }
}


.my-owl-dots{
    background-color: transparent;
    border: 1px solid $color-red;
    border-radius: 5px;
    height: 20px;
    max-width: .5%;
    display: inline-block;
}