.inputBox{
    background-color: $color-paymantDrop;
    color: $color-white;
    border: unset;
    font-size: 1.6rem;
    padding: 1.4rem 1.5rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    line-height: normal;


    @include respondmax(sm) {
        margin-bottom: 1rem;
        flex-direction: column;
        text-align: left;
    }

    &__fieldType{
        @include respondmax(sm) {
            margin-bottom: 1rem;
            text-align: left;
        }
    }
    
}