.myBtn{
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
    color: $color-white;
    line-height: 1.8rem;
    margin-bottom: unset;
    background-color: $color-red;
    border-radius: .5rem!important;

    &:hover{
        background-color: $color-red;
        color: $color-white;
    }
}