.myBtn{
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
    color: $color-white;
    line-height: 1.8rem;
    margin-bottom: unset;
    background-color: $color-darkRed;
    border-radius: .5rem!important;
}