.myBtn{
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
    color: $color-white;
    line-height: 1.8rem;
    margin-bottom: unset;
    background-color: $color-red;
    border-radius: .5rem!important;
    border: unset;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    text-align: center;
    
    &:hover{
        background-color: $color-red;
        color: $color-white;
    }

    &__advert{
        background-color: $color-paymantDrop;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
        font-size: 1.6rem;
        padding: 1.5rem;
        text-transform: capitalize;
        text-align: left;
        i{
            margin-right: 1rem;
            font-size: 1.8rem;
        }
    }

    &__social{
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        margin-bottom:1rem; 

        i{
            margin-right: 1.5rem;
            font-size: 2.5rem;
        }

        &--fb{
            background-color: $color-blue-4;
        }
        &--tw{
            background-color: $color-blue-5;
        }
        &--ins{
            background-color: $color-purple;
        }
        &--reddit{
            background-color: $color-orange;
        }
    }
}