.myDrop{
    width: 100%;
    margin-bottom: unset;
    font-size: 1.6rem; 
    background-color: $color-paymantDrop!important;
    border-radius: 5px!important;
    text-transform: capitalize;
    text-align: left;
    color: $color-white!important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;

    &--2{
       width: auto;
       border-radius: 0!important;
       border: 2px solid $color-red!important;
       margin-left:unset;
       margin-right: 3rem;
       padding: .5rem 1rem;
       background-color: $color-secondary!important;
       font-size: 1.4rem;
      
       @include respondmax(md) {
            margin-right: 0;
        }
       @include respondmax(sm) {
            margin-bottom: 2rem;
       }
   
       img{
           margin-left: 1rem;
       }
    }
    @include respondmax(sm) {
        width: 100%;
        margin-left:0;
    }
    &:hover{
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    }
    &::after{
        display: none;
    }
    i{
        float: right;
        font-size: 1.6rem;
        line-height: 25px;
    }

    &__menu{
        background-color: $color-paymantDrop;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    &__item{
        color: $color-white;
        font-size: 1.5rem;
        padding: 1rem 2rem!important;
        z-index: 9999;
        &:hover{
            background-color:$color-secondary;
            color: $color-white;
        }
    }
}


  