.myRadio {
    display: block;
    position: relative;
    padding-left: 3.5rem;
    cursor: pointer;
    font-size: 1.6rem;
    user-select: none;
    margin-bottom: 0;

    @include respondmax(sm) {
      padding-left: 3rem;
  }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 2px solid $color-red;
        border-radius: 50%;

        &:after {
            content: "";
            position: absolute;
            display: none;
          }
      }

      & input:checked ~ .myRadio__checkmark {
        background-color: transparent;
      }
      & input:checked ~ .myRadio__checkmark:after {
        display: block;
      }

      & .myRadio__checkmark:after {
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       width: 8px;
       height: 8px;
       border-radius: 50%;
       background: $color-red;
   }

  }
  

