.social{

    &__list{
        display: inline-block;
        &:not(:last-child){
            margin-right: 2.5rem;
        }
        
    }

    &__link{
        color: $color-red;
        font-size: 3.5rem;

        &--white{
            color: $color-white;
        }
        
    }
}