<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="libs/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="libs/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="libs/components-font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="libs/components-font-awesome/css/brands.min.css">
    <link rel="stylesheet" href="libs/components-font-awesome/css/solid.min.css">


    <!--  -->
<link rel="stylesheet" href="libs/croppie/croppie.css">
<link rel="stylesheet" href="https://foliotek.github.io/Croppie/croppie.css">
    <link href="libs/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="libs/dropzone/dist/dropzone.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <link rel="stylesheet" href="css/main/main.min.css">

</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <div class="header">
        <div class="container">
            <div class="header__top">
                <ul class="header__list header__list-left   header__top--left">
                    <li class=" header__top--item"><span class="header__span">BİZİ İZLƏYİN</span></li>
                    <li class="header__top--item"><a class="header__topLink" href="#"><i
                                class="fab fa-facebook-square header__topLink--icon"></i></a></li>
                    <li class=" header__top--item"><a class="header__topLink" href="#"><i
                                class="fab fa-instagram header__topLink--icon"></i></a> </li>
                    <li class=" header__top--item"><a class="header__topLink" href="#"><i
                                class="fab fa-twitter header__topLink--icon"></i></a>
                    </li>
                    <li class=" header__top--item"> <input type="checkbox" name="" class="header__toggle-btn">
                    </li>
                </ul>
                <ul class="header__list header__list-right header__top--right">
                    <li class=" header__top--item"><a class="header__topLink" href="login.html"><i
                                class="header__icon fas fa-sign-in-alt mr-2"></i>DAXİL OL</a></li>
                    <li class=" header__top--item"><a class="header__topLink" href="registr.html"><i
                                class="header__icon fas fa-user mr-2"></i>QEYDİYYAT</a></li>
                </ul>

            </div>
            <div class="header__bottom">
                <div class="header__list--left">
                    <div class="header__logo">

                 
                        <a class="header__logo__link" href="#"><img src="img/logo2.png" alt="logo"
                                class="header__logo--img" /> </a>
                      
                    </div>

                    <ul class="header__list header-none">
                        <li class="nav-item header__item header__item__skew-right ripple-effect"><a
                                class="header__link header__link__skew-right" href="index.html">ANA SƏHİFƏ</a></li>
                        <li class="nav-item header__item header__item__skew-right ripple-effect"><a
                                class="header__link header__link__skew-right" href="#">KONSOL</a></li>
                        <li class="nav-item header__item header__item__skew-right ripple-effect"><a
                                class="header__link header__link__skew-right" href="#">OYUN</a></li>
                        <li class="nav-item header__item header__item__skew-right ripple-effect"><a
                                class="header__link header__link__skew-right" href="#">AKSESUAR</a></li>
                        <li class="nav-item header__item  header__item__skew-right ripple-effect"><a
                                class="header__link header__link__skew-right" href="paymants.html">Oyun Ödənişləri</a></li>
                    </ul>
                </div>



                <ul class="header__list  header__list--right header-none">
                    <li class="nav-item header__item  header__item__skew-right header__item--active  ripple-effect"><a
                            class="header__link header__link__skew-right " href="add-advert.html"><i class="fas fa-plus mr-2"></i>Elan
                            Yerləşdir</a></li>

                </ul>
                <span onclick="openNav()" class="hamburger-menu">&#9776;</span>
                <ul id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <li class="nav-item header__item sidenav__item header__item__skew-right header__item--active"><a
                            class="header__link header__link__skew-right " href="#"><i class="fas fa-plus mr-2"></i>Elan
                            Yerləşdir</a></li>
                    <li class="nav-item header__item sidenav__item header__item__skew-right"><a
                            class="header__link header__link__skew-right" href="index.html">ANA SƏHİFƏ</a></li>
                    <li class="nav-item header__item sidenav__item header__item__skew-right"><a
                            class="header__link header__link__skew-right" href="#">KONSOL</a></li>
                    <li class="nav-item header__item sidenav__item  header__item__skew-right"><a
                            class="header__link header__link__skew-right" href="#">OYUN</a></li>
                    <li class="nav-item header__item sidenav__item header__item__skew-right"><a
                            class="header__link header__link__skew-right" href="#">AKSESUAR</a></li>
                    <li class="nav-item header__item sidenav__item header__item__skew-right"><a
                            class="header__link header__link__skew-right" href="paymants.html">Oyun Ödənişləri</a></li>
                </ul>

            </div>
        </div>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>