.category{

    &__select {
        position: relative;
        display: inline-block;

        margin-right: 3rem;
        @include respondmax(sm) {
            width: 100%;
           margin-bottom: 10px;
        }
        &--icon{
            position: absolute;
            top: 35%;
            right: 10%;
            z-index: 999;
            @include respondmax(sm) {
              right: 7%;
            }
        }
    }

    &__sortBox{
        position: relative;
        margin: 3rem 0;
        z-index: 9;
    }
    &__dropgGroup{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        @include respondmax(md) {
            display: flex;
            justify-content: space-between;
            position: static;
            transform: translateY(0);
            margin-top: 2rem;
        }
        @include respondmax(sm) {
            position: static;
            transform: translateY(0);
            margin-top: 2rem;
            display: block;
        }
      
    }
}