.forum-inner {
    padding: 1.5rem 2rem;
    margin-bottom: 20px;

    @include respondmax(sm) {
        padding: 1.5rem 1rem;
      }
    
    &__div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 16px;
    }

    &__name {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        @include respondmax(sm) {
        padding-bottom: 15px;
    }
        &-group {
            display: flex;
            flex-direction: column;
            width: 15%;

            @include respondmax(sm) {
                width: 25%;
                margin-right: 10px;
              }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 85%;

        @include respondmax(sm) {
            width: 75%;
          }

        &__group {
            display: flex;
            justify-content: space-between;
        }
    }
    &__category {
        display: flex;
        flex-direction: column;
    }

   

    &__text-group {
        text-align: left;
        margin-right: 10px;
    }

    &__views {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--comment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    &__icon-group {
       
    }

    &__date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;

        &-group {
            display: flex;
            justify-content: space-between;
            @include respondmax(sm) {
                display: none;
              }
        }
    }

    &__like {
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        @include respondmax(sm) {
           margin-right: 0;
          }
        &-group {
            display: flex;
            align-items: center;
            @include respondmax(sm) {
              flex-direction: column;
              }

              @include respondmax(xs) {
               display: none;
                }
        }
    }

    &__btn {
        font-size: 1.8rem;
        padding: 5px 20px;

        border-radius: 5px;
        border: none;
        background-color: $color-red;
        color: $color-white;
        text-align: center;
        margin-left: 10px;

        &-group{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &:focus {
            outline: none;
        }

       
        @include respondmax(lg) {
            padding: 0px 10px;
            height: 40px;
           }
           @include respondmax(sm) {
           font-size: 16px;
           }
      

    }

    &__social {
        display: flex;
        justify-content: space-between;
        @include respondmax(sm) {
            display: none;
          }
        &-group {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid $color-gray-border;
            padding-top: 20px;

            @include respondmax(sm) {
               justify-content: flex-end;
               padding-top: 15px;
              }
        }

        &--link {
            padding: 20px;
            font-size: 25px;
            width: 30px;
            height: 30px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 50%;

            color: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: $color-white;
            }

        }

        &--item {
            .fa-facebook-f {
                background: #3B5998;
            }

            .fa-twitter {
                background: #55ACEE;

            }

            .fa-instagram {
                background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

            }

            &:not(:last-child) {
                margin-right: 10px;
            }

        }
    }

    &__like-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        
      
        &--group{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

    
    }

    &--topic {
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 10px;
        @include respondmax(sm) {
           font-size: 16px;
          }
    }

    &--text {
        padding-bottom: 20px;
        @include respondmax(sm) {
            font-size: 14px;
           }
    }

    &__discuss {
        display: none;
        width: 82%;
        margin-left: auto;
        padding: 1.5rem 2rem;
        margin-bottom: 20px;
        @include respondmax(sm) {
           width: 100%;
           padding: 1.5rem 1rem;
           }

           

        &--textarea {
            width: 100%;
            padding-left: 10px;
            font-size: 16px;
            border-radius: 5px;
            background: #fafefa;
            margin-top: 10px;

            &::placeholder {
                font-size: 16px;
                padding-left: 10px;
            }
        }

        &--div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &--btn {
            background-color: $color-gray-border;
            color: $color-white;
            font-size: 16px;
            border: 1px solid transparent;
            padding: .5rem 2rem;
            border-radius: 5px;

            margin-top: 10px;
        }
    }

    &__comment {
        width: 82%;
        margin-left: auto;
        margin-bottom: 20px;
        font-size: 16px;
        padding: 1.5rem 2rem;
        @include respondmax(sm) {
            width: 100%;

          
                padding: 1.5rem 1rem;
           
            }
        &__div {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &--icon {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            font-size: 30px;
            padding-top: 5px;
        }

        &__content {
            width: 90%;
            display: flex;
            flex-direction: column;

            &__group {
                display: flex;
                justify-content: space-between;
            }
        }

        // &--text {
        //     padding-bottom: 10px;
        // }

        &__text-group {
            text-align: left;
            margin-right: 10px;
        }

       

        &__date {
            display: flex;
            justify-content: center;
            align-items: baseline;
        }
    }
}