$aznb:jaznb;

$color-primary:#1a1b1e;
$color-secondary:#1f2124;
$color-advert:#212427;
$color-white:#fff;
$color-gray:#777;
$color-brown:#282828;
$color-gray-1:#b6b6b6;
$color-blue:#00aeef;
$color-red:rgb(255, 41, 90);

