$aznb:jaznb;

$color-primary:#1a1b1e;
$color-secondary:#1f2124;
$color-advert:#212427;
$color-users:#26282c;
$color-green:#00ff00;
$color-pc:#ff0066;
$color-white:#fff;
$color-gray:#777;
$color-gray-light:#7e7e7e;
$color-gray-paymant:#505050;
$color-brown:#282828;
$color-gray-1:#b6b6b6;
$color-blue:#00aeef;
$color-red:rgb(255, 41, 90);

