$aznb:jaznb;

$color-primary:#1a1b1e;
$color-secondary:#1f2124;
$color-advert:#212427;
$color-users:#26282c;
$color-paymantDrop:#282d34;
$color-green:#00ff00;
$color-green-2:#48c267;
$color-green-3:#1fdf8b;
$color-green-4:#5bd698;
$color-pc:#ff0066;
$color-white:#fff;
$color-gray:#777;
$color-gray-light:#7e7e7e;
$color-gray-paymant:#505050;
$color-gray-border:#56585B;
$color-brown:#282828;
$color-gray-1:#b6b6b6;
$color-blue:#00aeef;
$color-blue-1:#437ab8;
$color-blue-2:#2f353d;
$color-blue-3:#5b8fe6;
$color-blue-4:#4578be;
$color-blue-5:#39a9bd;
$color-red:#ff295a;
$color-red-2:#d72b33;
$color-red-3:#d14949;
$color-gold:#ffaa64;
$color-gold-2:#ffcd00;
$color-gold-3:#fffc00;
$color-orange:#ff4500;
$color-purple:#cc2f96;



